{{ define "main" }}
    <h1>{{ .Title }}</h1>

    <h2>Blog List</h2>
    <ul>
        {{ range where .Site.RegularPages "Section" "blog" }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <span>Dibuat {{ .Date.Format "2006-01-02" }} </span>
            <p>{{ or .Params.description .Summary }}</p>
        </li>
        {{ end }}
    </ul>

    <h2>Recommendation List</h2>
    <ul>
        {{ range where .Site.RegularPages "Section" "recommendation" }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <span>Dibuat {{ .Date.Format "2006-01-02" }} </span>
        </li>
        {{ end }}
    </ul>
{{ end }}